@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Montserrat', sans-serif;
	background: rgb(0,36,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,36,0,1) 0%, rgba(0,87,0,1) 17%, rgba(0,138,0,1) 33%, rgba(82,177,82,1) 67%, rgba(131,199,131,1) 83%, rgba(180,221,180,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,36,0,1) 0%,rgba(0,87,0,1) 17%,rgba(0,138,0,1) 33%,rgba(82,177,82,1) 67%,rgba(131,199,131,1) 83%,rgba(180,221,180,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,36,0,1) 0%,rgba(0,87,0,1) 17%,rgba(0,138,0,1) 33%,rgba(82,177,82,1) 67%,rgba(131,199,131,1) 83%,rgba(180,221,180,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#b4ddb4',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat;

}

#wrapper {
	width:1024px;
	margin: 0 auto;
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

h1, h2, h3, h4, h5 {
	margin-left: 2%;
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}

h1 {
	font-size: 295%;
}

h2 {
	font-size:120%;
	color:#000066;
}

p {
	margin-left: 2%;
}

hr {
	border: 1px dotted #ccc;
}

header {
	height: 213px;
	background-image: url("../images/Pizza-BG.jpg");
	background-repeat: no-repeat;
}

input {
    margin-left: 2%;
    margin-bottom: 4%;
    width: 150px;
    border-radius: 12px;
    background-color: #ffcc66;
    font-size: 100%;

}

button.bake {
	margin-left: 2%;
    margin-bottom: 4%;
    width: 150px;
    border-radius: 12px;
    padding: 5px;
    background-color: #4CAF50;
    font-size: 100%;
    color: #fff;
}

button.shoppingList {
	margin-left: 2%;
    margin-bottom: 4%;
    width: 150px;
    border-radius: 12px;
    padding: 5px;
    background-color: #555555;
    font-size: 100%;
    color: #fff;
}


#crust {
	float: left;
	width: 30%;
	margin-left: 2%;
	border-right: 1px dotted #ccc;
	margin-right: 2%;
}


#toppings {
	float: left;
	width: 30%;
	border-right: 1px dotted #ccc;
	margin-right: 2%;
}


#size {
	float: left;
	width: 30%;
	border-right: 1px dotted #ccc;
	margin-right: 2%;
}


#pizzaIsready {
	float: left;
	width: 30%;
	border-right: 1px dotted #ccc;
	margin-right: 2%;
}

#neededIngredients {
	float: left;
	width: 30%;
	border-right: 1px dotted #ccc;
	margin-right: 2%;
	margin-left: 2%;
}

.pizza-title {
	font-size: 190%;
	font-weight: 500;
	color:#000;
}

#company {
	color:#fff;
	text-shadow: 3px 3px #000;
	margin-top: -7px;
	padding-top: 10px;
}

#slogan {
	color:#ccc;
	text-shadow: 2px 2px #000;
	margin-top:-30px;
}


#pizza {
	display: flex;
	flex-direction: row;

}

#messageDisplay {
	height: 100px;
}


ul {
    list-style-type: circle;
    color:#6d3c37;
}

li {
	color:#606060;;
}

footer {
	background-color: #000;
	margin-top: 20px;
	color: #fff;
	font-size: 85%;
	height: 100px;
	text-align: center;
}

footer p {
	padding-top: 15px;
}